# https://eslint.org/docs/rules/linebreak-style
# https://markoskon.com/line-endings-in-vscode-with-git-and-eslint/

# Set the default behavior, in case people don’t have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.js text eol=lf
*.vue text eol=lf
