/* Global styles for chart views to override dc.css */
.dc-chart g.row text {
  fill: #22313f;
  font-weight: bold;
}

.dc-text-filter-input {
  font-family: inherit;
  border: 0;
  border-bottom: 1px solid gray;
  outline: 0;
  background: transparent;
  max-width: 7em;
}
